.item + .Event-evenItem {
  background-color: #ededed;
}

.Event-teamAmount {
  font-size: 16pt;
  font-weight: bold;
}

.Event-teamName {
  font-weight: normal;
  font-size: 14pt;
  color: black;
  bottom: 0.25em;
  position: relative;
}