.item + .EventResults-evenItem {
  background-color: #ededed;
}

.EventResults-teamAmount {
  font-size: 16pt;
  font-weight: bold;
}

.EventResults-teamName {
  font-weight: normal;
  font-size: 14pt;
  color: black;
  bottom: 0.25em;
  position: relative;
}